#app-header {
  background-image: url(../img/pattern.png);
  background-size: 20%;
  border-style: solid;
  border-color: #4ea0ff;
  background-color: #4ea0ff;
}

h4 {
  color: #8b8b8b;
}

#logo {
  height: 70px;
  margin-left: 1%;
}

.title {
  font-family: "Bevan";
}

#UnorderedList {
    margin-top: 20px;
    padding-inline-start: 0;
    list-style-position: inside;
    font-size: smaller;
}

/*TABLE*/

.header-table{
    background-color: #3995db;
    text-align:left;
    color: white;
}

.body-table{
    color: black;
}

.first-cells-line{
    background-color: #b1e5f2;
}

.second-cells-line{
    background-color: white;
}

.Third-cell-line{
    background-color: #b1e5f2;
}


.extended-cell{
    width: 50%;
}

/*FOOTER*/

.final-text{
    color: grey;
}

.final-image-1{
    margin-top: 10px;
    background-image: url(../img/monitor.jpg);
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
    margin-bottom:10px;
}

.final-image-2{
    margin-top: 10px;
    background-image: url(../img/graph.jpg);
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
